<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seosj.classicbook">
<!--
* ******************************************
* Copyright 2019. 서성준 all rights reserved.
* ******************************************
 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".JSONParser"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Main1_Detail"/>
        <activity android:name=".Menu2_testBookChoose" />
        <activity android:name=".Menu3_searchLibrary" />
        <activity android:name=".Menu1_testinfo" />
        <activity android:name=".Webview_setting_1" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <receiver android:name=".BroadcastD" android:process=":remote"/>
    </application>

</manifest>